<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>NSF awards application !</title>
</head>
<body>
   <h1>NSF awards database !</h1>
   <p>On this website, you will be a access informations about scientific projects granted by the National Science Foundation. </p>
   <p><a href=page1 ><button class=grey style="height:75px;width:150px">Access to the data !</button></a></p>


</body>
</html>