<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>NSF awards application !</title>
</head>
<body>
   <h1>NSF awards database !</h1>
   <p class='center'>On this website, you will be a access informations about scientific projects granted by the National Science Foundation. </p>
   <p class='center'><a href=page1 ><button class=grey style="height:75px;width:150px">Access to query1 !</button></a></p>
   <p class='center'><a href=page2 ><button class=grey style="height:75px;width:150px">Access to query2 !</button></a></p>
   <p class='center'><a href=page3 ><button class=grey style="height:75px;width:150px">Access to query3 !</button></a></p>
   <p class='center'><a href=page4 ><button class=grey style="height:75px;width:150px">Access to query4 !</button></a></p>
   <p class='center'><a href=page5 ><button class=grey style="height:75px;width:150px">Access to query5 !</button></a></p>
   <p class='center'><a href=page6 ><button class=grey style="height:75px;width:150px">Access to query6 !</button></a></p>
   <p class='center'><a href=page7 ><button class=grey style="height:75px;width:150px">Access to query7 !</button></a></p>
   <p class='center'><a href=page8 ><button class=grey style="height:75px;width:150px">Access to query8 !</button></a></p>


</body>
</html>