<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>page4</title>
</head>
<body>
   <h1>List of awards for an investigator</h1>
   <div class="container">

    <form action="{{ url_for('page4')}}" method = "POST">
        <p>First name of the investigator <input type = "text" name = "first_name" />
        <p>Last name of the investigator <input type = "text" name = "last_name" />
        <p>Email ID of the investigator <input type = "text" name = "email_id" />
        <p><input type = "submit" value = "submit" /></p>
    </form>

   </div>




</body>
</html>